

<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div >
            <a href="#" class="nav__logo">
                
                <span class="nav__logo-text">Samuel</span>
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bxs-chevron-right'></i>
            </div>
            
            <ul class="nav__list">
                    <a routerLink="perfil" class="nav__link active" >
                        
                        <span class="material-icons">
                            thumb_up
                            </span>
                        <span class="nav__text"> Perfil</span>
                    </a>

                    <br>
                    
                    <a routerLink="portafolio" class="nav__link active" >
                 
                        <span class="material-icons">
                            favorite
                            </span>
                        <span class="nav__text"> Portafolio</span>
                    </a>
                    
                   
                    <br>


                    
                    

                    
                    <a routerLink="contacto" class="nav__link active" >
                      
                        <span class="material-icons">
                            face
                            </span>
                        <span class="nav__text">Contactame</span>
                    </a>
                   

                
            </ul>

        
        </div>
    </nav>
</div>

<mat-toolbar>

    <div class="menu_bar">
    <a mat-icon-button class="btn-menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      
    </a>
    </div>

    
    
    <span class="example-spacer"></span>
   
  </mat-toolbar>
 
  