
 <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<body>
<div class="Iam">

<p>Conocimientos en</p>
<b>
  <div class="innerIam">
    Python<br /> 
    Angular<br />
    .NET<br />
    MySQL<br />
    Javascript<br />
    
    </div>
</b>

</div>
<div class="cartas uno" id="axis">
  <mat-card class="nmu  object van move-right">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Titulo del proyecto</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt=""><!--imagen-->
    <mat-card-content>
      <a href=""><!--link--></a>
    </mat-card-content>
    

  </mat-card>

  <mat-card class="nmd  object van move-right">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Titulo del proyecto</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt=""><!--imagen-->
    <mat-card-content>
      <a href=""><!--link--></a>
    </mat-card-content>
    

  </mat-card>


  <mat-card class="nmt  object van move-right">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Titulo del proyecto</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt=""><!--imagen-->
    <mat-card-content>
      <a href=""><!--link--></a>
    </mat-card-content>
    

  </mat-card>

  <ngx-spinner name="sp5" [fullScreen]="false" type="square-jelly-box" size="medium"></ngx-spinner>

</div>
</body>
